@model CuaHangThoiTrangV2.Models.Sanpham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Loại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLNavigation.TenL)
        </dd>
        <dt class="col-sm-2">
            Mã thương hiệu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaThNavigation.TenTh)
        </dd>
        <dt class = "col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            Hình 1
        </dt>
        <dd class = "col-sm-10">
            <img width="150px" height="150px" src="~/assets/img/@Model.Hinh" />
            @*@Html.DisplayFor(model => model.Hinh)*@
        </dd>
        <dt class = "col-sm-2">
            Hình 2
        </dt>
        <dd class = "col-sm-10">
            <img width="150px" height="150px" src="~/assets/img/@Model.Hinh1" />
            @*@Html.DisplayFor(model => model.Hinh1)*@
        </dd>
        <dt class = "col-sm-2">
            Hình 3
        </dt>
        <dd class = "col-sm-10">
            <img width="150px" height="150px" src="~/assets/img/@Model.Hinh2" />
            @*@Html.DisplayFor(model => model.Hinh2)*@
        </dd>
        <dt class = "col-sm-2">
            Số lượng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>

    </dl>
</div>
<div>
    <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw"><a style="text-decoration:none; color:white" asp-action="Edit" asp-route-id="@Model.MaSp">Edit</a></button>
    <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw"><a style="text-decoration:none; color:white" asp-action="Index">Back to List</a></button>
</div>
