@{
    ViewData["Title"] = "24-cara";
    List<Loai> lsLoais = ViewBag.lsLoais;
    List<Thuonghieu> lsThuonghieus = ViewBag.lsThuonghieus;
    List<Sanpham> lsSP = ViewBag.lsSP;
}
<!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Loại sản phẩm</span>
                        </div>
                        <ul>
                            @foreach (Loai loai in lsLoais)
                            {
                                <li><a href="~/Product/ListLoai?id=@loai.MaL">@loai.TenL</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">                                
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0931.79.80.72</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="@Url.Content("~/assets/img/banner.jpg")">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                @foreach(Thuonghieu thuonghieu in lsThuonghieus)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" style="width: 300px" data-setbg="@Url.Content("~/assets/img/logo/"+ thuonghieu.Logo + "")">
                            <h5><a href="~/Product/ListThuonghieu?id=@thuonghieu.MaTh">@thuonghieu.TenTh</a></h5>
                        </div>
                    </div>
                }               
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
            @foreach(var item in lsSP)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix ">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="@Url.Content("~/assets/img/"+ item.Hinh +"")">
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="~/Product/Details?id=@item.MaSp">@item.TenSp</a></h6>
                            <h5>@item.Gia.ToString("#,##0") vnđ</h5>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
